body {
  overflow-x: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000000; 
}
::-webkit-scrollbar-thumb {
  background: rgb(72, 8, 88); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 38, 118); 
}
